## Hypothesis Testing Exercises

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns
from pydataset import data

### Part 1 - Overview

For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.

- Has the network latency gone up since we switched internet service providers?
- Is the website redesign any good?
- Is our television ad driving more sales?

Example 1 - 

Null hypothesis:
- There is no difference between the network latency for our old internet service provider and our new internet service provider. 

Alternative hypothesis:
- We experience more network latency with our new internet service provider compared to our old internet provier.

True positive example:
- When network latency data between the two companies was compared, latency from the new provider was higher.

True negative example:
- When network latency data between the two companies was compared, latency from the new provider was the same as the old provider.

Type 1 error:
- We said that latency from the new provider was higher but when we compared the data, latency levels were actually the same.

Type 2 error:
- We said that latency levels between the two companies were the same but when we compared the data, latency levels at the new company were actually higher.

---

Example 2 - 

Null hypothesis:
- Our redesigned website has experienced the same mean amount of views compared to our original website.

Alternative hypothesis:
- Our redesigned website has experienced a higher mean amount of views compared to our original website.

True positive example:
- When website traffic data was compared, our redesigned website experienced more views than our old website.

True negative example:
- When website traffic data was compared, our redesigned website experienced the same amount of views as our old website.

Type 1 error:
- We said that the redesigned website recieved more views than the old website but when we compared website traffic data, the amount of views was actually the same.

Type 2 error:
- We said that the redesigned website recieved the same amount of views as the old website but when we compared website traffic data, the amount of views for the redesigned website were actually higher.

---

Example 3 - 

Null hypothesis:
- Our average monthly sales is the same as it was before runing our television ad. 

Alternative hypothesis:
- Our average monthly sales is higher than it was before running our television ad.

True positive example:
- When average monthly sales before and after running the television ad were compared, the average was higher after running the ad.

True negative example:
- When average monthly sales before and after running the television ad were compared, the average was the same before and after running the ad.

Type 1 error:
- We said that average monthly sales were higher after running the television ad but when data was compared, the average monthly sales were actually the same.

Type 2 error:
- We said that average monthly sales were the same before and after running the television ad but when data was compared, the average monthly sales were actually higher after running the ad.

---

### Part 2 - T-Test

Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [10]:
#Null Hypothesis: 
#  The average time it takes to sell a home in office 1 = the average time it takes to sell a home in office 2
#Alternative Hypothesis:
#  The average time it takes to sell a home in office 1 != the average time it takes to sell a home in office 2

#use a two tailed T-test

alpha = 0.05

mean1 = 90
sd1 = 15
nums1 = 40

mean2 = 100
sd2 = 20
nums2 = 50


t, p = stats.ttest_ind_from_stats(mean1, sd1, nums1, mean2, sd2, nums2)
t, p

(-2.6252287036468456, 0.01020985244923939)

In [11]:
if p < alpha:
    print("We reject the null hypothesis")
else:
    print("We do not reject the null hypothesis")

We reject the null hypothesis

Load the mpg dataset and use it to answer the following questions:

- Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
- Are compact cars more fuel-efficient than the average car?
- Do manual cars get better gas mileage than automatic cars?

In [19]:
mpg = data('mpg')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [21]:
mpg.year.value_counts()

1999    117
2008    117
Name: year, dtype: int64

In [22]:
#drop nulls
mpg = mpg.dropna()

In [27]:
#add a column for overall fuel efficency ((cty + hwy) / 2)
mpg['fuel_eff'] = (mpg.cty + mpg.hwy) / 2

In [34]:
#verify the new column
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,fuel_eff
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0

2a. Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

In [30]:
#Null hypothesis:
# - fuel efficency for cars made in 2008 = fuel efficency for cars made in 1999
#Alternative Hypothesis:
# - fuel efficency for cars made in 2008 != fuel efficency for cars made in 1999

fe2008 = mpg[mpg.year == 2008].fuel_eff
fe1999 = mpg[mpg.year == 1999].fuel_eff

alpha = 0.05

t, p = stats.ttest_ind(fe2008, fe1999)
t, p

(-0.21960177245940962, 0.8263744040323578)

In [31]:
if p < alpha:
    print("we reject the null hypothesis")
else:
    print("we do not reject the null hypothesis")

we do not reject the null hypothesis

2b. Are compact cars more fuel-efficient than the average car?

In [40]:
#null hypothesis:
# - fuel efficency of compact cars = fuel efficency of the average car (population)
#alternative hypothesis:
# - fuel efficency of compact cars > fuel efficency of the average car (population)

fe_compact = mpg[mpg["class"] == "compact"].fuel_eff
fe_average = np.average(mpg.fuel_eff)

alpha = 0.05

t, p = stats.ttest_1samp(fe_compact, fe_average)
t, p

(7.896888573132535, 4.1985637943171336e-10)

In [41]:
if (p < alpha) & (t > 0):
    print("we reject the null hypothesis")
else:
    print("we do not reject the null hypothesis")

we reject the null hypothesis

2c. Do manual cars get better gas mileage than automatic cars?

In [42]:
mpg['is_automatic'] = np.where(mpg.trans.str.startswith('auto'), 'auto', 'man')

In [43]:
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,fuel_eff,is_automatic
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,auto
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,man
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,man
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,auto
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,auto

In [44]:
#Null hypothesis:
# - fuel efficenecy of manual cars = fuel efficency of automatic cars
#Alternative Hypothesis:
# - fuel efficency of manual cars > fuel efficency of automatic cars

fe_manual = mpg[mpg.is_automatic == "man"].fuel_eff
fe_auto = mpg[mpg.is_automatic == "auto"].fuel_eff

alpha = 0.05

t, p = stats.ttest_ind(fe_manual, fe_auto)
t, p

(4.593437735750014, 7.154374401145683e-06)

In [45]:
if (p < alpha) & (t > 0):
    print("we reject the null hypothesis")
else:
    print("we do not reject the null hypothesis")

we reject the null hypothesis

### Part 3 - Correlation

Use the telco_churn data. Does tenure correlate with monthly charges? Total charges? What happens if you control for phone and internet service?

Use the employees database.
- Is there a relationship between how long an employee has been with the company and their salary?
- Is there a relationship between how long an employee has been with the company and the number of titles they have had?

Use the sleepstudy data. Is there a relationship between days and reaction time?